@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  --primary: #f6781a;
  --primary_hover: #cf6718;
  --text: #fefefe;
  --background: #000000;
  --hiring: #2b2c2f;
  --dark: #1c1c1c;
  --gray: #464646;
  --deepblue: #2850af;
  --fuchsia: #e33095;
  --turquoise: #26c7c3;
  --deeppurple: #a22fb6;
  --orange: #ff7819;
  --lightblue: #3180fe;
  --links: #999;
}
.active {
  background-color: black;
}
body {
  background-color: var(--background);
}
/* --- Navbar --- */
.navbar {
  background: var(--background);
  color: var(--text);
  position: fixed;
  transform: translate3d(0, 0, 0);
  transition: 0.2s all ease-out;
  border-color: var(--hiring);
}
.navbar.navbar--hidden {
  transform: translate3d(0, -100%, 0);
}

.hiring {
  background: var(--gray);
}
.hiring {
  background: var(--hiring);
}
.animation:hover > .hand {
  animation-name: animation;
  animation-duration: 1s;
}
.compare:hover {
  color: var(--primary);
}
.join {
  background: var(--primary);
}
.join:hover {
  background: var(--primary_hover);
}
.login {
  background: var(--text);
  color: var(--dark);
}

.nav_bar {
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: var(--text);
  margin: 7px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
.navbar_menu {
  position: fixed;
  min-height: 767px;
  animation: nav_open 0.6s ease-in-out forwards;
}
.hide_nav {
  animation: nav_close 0.6s ease-in-out forwards;
}
.nav_items {
  color: var(--text);
}

.link_underline {
  width: 1%;
  opacity: 0;
  transition: 0.4s;
}
.link_container:hover .link_underline {
  width: 100%;
  opacity: 100;
}
.deep_blue {
  background-color: var(--deepblue);
}
.fuchsia {
  background-color: var(--fuchsia);
}
.turquoise {
  background-color: var(--turquoise);
}
.deep_purple {
  background-color: var(--deeppurple);
}
.orange {
  background-color: var(--orange);
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes nav_open {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes nav_close {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

/* --- Header --- */
.header {
  background-color: var(--background);
  height: 100vh;
  max-height: 767px;
}

.header_btn {
  background: var(--primary);
}
.header_btn:hover {
  background: var(--primary_hover);
}

/* --- PressLogos --- */
.press_logos {
  background-color: var(--background);
}
.press_logos img {
  width: 150px;
  height: 50px;
}

/* --- OurPlans --- */
.our_plans {
  background-color: var(--background);
  color: var(--text);
}
input[type="checkbox"] {
  position: relative;
  width: 220px;
  height: 47px;
  -webkit-appearance: none;
  background-color: var(--dark);
  border-radius: 30px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  outline: none;
  /* transition: 0.5s; */
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 47px;
  border-radius: 30px;
  top: 0;
  left: 0;
  background-color: var(--gray);
  transition: 0.5s;
}
input:checked[type="checkbox"]:before {
  left: 110px;
}

.card {
  background-color: var(--dark);
  border-color: var(--hiring);
}
.card.card_popular {
  border-color: var(--lightblue);
}
.popular_class {
  background-color: var(--lightblue);
}

/* --- TheSection --- */
.section {
  background-color: var(--background);
}
.section_card {
  background-color: var(--dark);
  border-color: var(--hiring);
}

/* --- TheReviews --- */
.reviews {
  background-color: var(--background);
}
.review_card {
  background-color: var(--dark);
  position: relative;
}
.review_card::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -25px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 15px solid var(--dark);
  transform: rotate(-90deg);
}
.platform_card {
  background-color: var(--dark);
}

/* --- TheTrial --- */
.the_trial {
  background-color: var(--background);
}

/* --- TheFooter --- */
.the_footer {
  background-color: var(--dark);
}
.links_container a {
  color: var(--links);
}
.links_container a:hover {
  color: var(--gray);
}
.gray_line {
  background-color: var(--gray);
  height: 1px;
}
.foot_links {
  color: var(--links);
}
.foot_links a:hover {
  color: var(--gray);
}
.platform_links a:hover {
  opacity: 0.8;
}
